@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #121212;
	color: #fff;
}

main {
	min-height: calc(100vh - 6rem);
	padding: 0 9rem;
	margin-top: 6rem;
}

::-webkit-scrollbar-track {
	background-color: #2f2f2f;
	border-radius: 10prgb (39, 39, 39);
	margin: 1rem 0;
}

::-webkit-scrollbar {
	width: 0.35rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: hsla(197, 100%, 63%, 1);

	background: linear-gradient(
		90deg,
		hsla(197, 100%, 63%, 1) 0%,
		hsla(294, 100%, 55%, 1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(197, 100%, 63%, 1) 0%,
		hsla(294, 100%, 55%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(197, 100%, 63%, 1) 0%,
		hsla(294, 100%, 55%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}
